<nav class="navbar navbar-inverse" ng-controller="logoutCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">WebSiteName</a>
    </div>
    <div>
      <ul class="nav navbar-nav" ng-hide="beforeLogin">
        <li class="active"><a ui-sref="home">Home</a></li>
        <li><a ui-sref="profile">Profile</a></li>
        <!-- <li><a href="">Page 2</a></li>
        <li><a href="">Page 3</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
